.logo{
    width: 10%;
}
body{
    
        font-family: 'Gayathri', sans-serif;
        letter-spacing: 2px;
    
}
.nav{
    background-color:black;
}
.h1{
    text-align: center;
}
.main{
    background-image: url("images/bg.jpg");
    background-size: cover;
    
    color: black;
}
.footer{
    background: black;
}
.tac{
    text-align:center;
    color:white;
}
.fa-mug-hot{
    color:rgb(111,78,55)
}
.alpha{
    text-align: center;
}